* {font-family: 'Roboto', sans-serif;}
* a{
    text-decoration: none;
    color: #333;
}
html {
    font-size: 10px;
}

/* HEADER */
header{
    padding: 30px 0;
}
header .header-top{}
header .header-top .background-controller{}
header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
}
header .header-top .logo-area{}
header .header-top .member-area{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
header .header-top .searchbox{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin: 0 20px;
    transition: .2s linear;
}
header .header-top .searchbox.active{
    justify-content: center;
}
@media only screen and (max-width:992px) {
    header .header-top .searchbox{
        display: none;
    }
}
header .header-top .searchbox .search-input{
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: .2s linear;
}
header .header-top .searchbox.active .search-input{
    opacity: 1;
    pointer-events: all;
    border: 1px solid #999;
    padding: 12px 27px;
    margin: -12px 0;
    border-radius: 12px;

}
header .header-top .searchbox .search-input input{
    border: none;
}
header .header-top .searchbox .search-input div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
}
header .header-top .searchbox .search-input div i{}
header .header-top .searchbox .open-search{
    transition: .2s linear;
    cursor: pointer;
    padding: 3px 5px;
}
header .header-top .searchbox.active .open-search{
    opacity: 0;
    pointer-events: none;
}
header .header-top .online{}
header .header-top .online .goto-online{
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #999;
    color: #333;
    text-decoration: none;
}
@media only screen and (max-width:992px) {
    header .header-top .online .goto-online{
        display: none;
    }
}
header .header-top .language{}
header .header-top .language h2{
    font-size: 20px;
}
header .header-bottom{
    padding-top: 30px;
}
@media only screen and (max-width:992px) {
    header .header-bottom{
        display: none;
    }
}
header .header-bottom .position-controller .all-items{
    display: flex;
    gap:40px;
    align-items: center;
}
header .header-bottom .position-controller .nav-link{}
header .header-bottom .position-controller .nav-link a{
    font-size: 18px;
    font-weight: 600;
}

header .open-mobile{
    display: none;
}

@media only screen and (max-width:992px) {
    header .open-mobile{
        display: block;
        font-size: 25px;
    }
}

/* HEADER END */


/* main */

.hero-section{}
.hero-section .background-controller{
    background-color: #EEFAFF;
}
.hero-section .background-controller .slider-area{}
.hero-section .background-controller .owl-item{
    padding: 20px 0;
}
.hero-section .background-controller .card-title{
    margin-top: 50px;
    font-size: 65px;
    line-height:80px;
}
@media only screen and (max-width:768px) {
    .hero-section .background-controller .card-title{
        font-size: 25px;
        line-height: 32px;
        text-align: center;
    }
}
.hero-section .background-controller .card-info{
    margin-top: 20px;
    font-size: 32px;
    color: #666;
}
@media only screen and (max-width:768px) {
    .hero-section .background-controller .card-info{
        font-size: 18px;
        text-align: center;
    }
}
.hero-section .background-controller .card-link{
    background-color: #383C52;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 12px 50px;
    margin-top: 50px;
    border-radius: 12px;
}
@media only screen and (max-width:768px) {
    .hero-section .background-controller .card-link{
        display: none;
    }
}
@media only screen and (max-width:992px) {
    .hero-section .col-12:first-child{
        margin-bottom: 50px;
    }
}
.hero-section .background-controller .card-img{}
.hero-section .background-controller .card-img img{}

.hero-section .owl-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.hero-section .owl-dots .owl-dot{
    width: 15px;
    height: 15px;
    background-color:#383C52 ;
    margin: 0 2px;
    border-radius: 50%;
}
.hero-section .owl-dots .owl-dot.active{
    background-color: #383C5280;
}

.announcement{}
.announcement .background-controller{
    padding: 30px 0;
}
.announcement .background-controller .area-title{
    text-align: center;
}
.announcement .background-controller .area-title h1{}
.announcement .background-controller .slider-section{
    max-width: 482px;
    margin: 0 auto;
    padding: 20px 0;
}
@media only screen and (max-width:992px) {
    .slider-section{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 20px;
        margin-bottom: 30px;
        scroll-snap-type:center;
    }
}
.announcement .background-controller .slider-section .slider-item{
    background-color: #F5F5F6;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 5px 12px;
    scroll-snap-align: center;
    
}
@media only screen and (max-width:992px) {
    .slider-section .slider-item{
        min-width: 100%;
    }
}
.announcement .background-controller .slider-section .slider-icon{}
.announcement .background-controller .slider-section .slider-icon i{
    color: #1AAADC;
}
.announcement .background-controller .slider-section .slider-text-area{}

.announcement .background-controller .slider-section .slider-text-area .text-title{
    font-size: 16px;
    color: #383c52;
    font-weight: 700;
}
.announcement .background-controller .slider-section .slider-text-area .text-history{
    color: #606375;
    font-size: 14px;
    font-weight: 500;
}

.announcement .owl-nav button{
    position: absolute;
    top:30%;
    width: 33px;
    height: 33px;
    background-color: #EEFAFF !important;
    color: #1682BE !important;
    border-radius: 50%;
}
.announcement .owl-nav button.owl-next{right: -42px;}
.announcement .owl-nav button.owl-prev{left: -42px;}

.announcement .see-all-announcement{
    color: #383C52;
    font-weight: bold;
    margin-left:calc(50% - 115px);

    font-size: 20px;
    border: 1px solid #999;
    padding: 12px 27px;
    border-radius: 12px;
}
.mobile-menu{
    display: none;
}
@media only screen and (max-width:992px) {
    .mobile-menu{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        bottom: 0;
        background-color: #2199D0;
        z-index: 999;
        transition: .2s ease-in-out;
    }
    .mobile-menu.active{
        left: 0;
    }
    .mobile-menu .logo-area{
        width: 100%;
        background-color: #1581BE;
        padding: 30px 0;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .mobile-menu .logo-area a{}
    .mobile-menu .close-btn{
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    .mobile-menu .close-btn i{
        font-size: 25px;
        color: white;
    }
    .mobile-menu .nav-links{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }
    .mobile-menu .nav-links .link-item{
        color: white;
        font-size: 24px;
        font-weight: 600;

    }
}

/* main - end */

/* FOOTER */

footer{
    border-top: 3px solid #EBEBED;
}
footer a{
    display: block;
    font-size: 2rem;
}
footer .container{}
footer .footer-left{}
footer .footer-left .left-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer-left .img-item{}
footer .footer-left .col-6 img{
    width: 100%;
    display: flex;
    align-items: center;
}

footer .footer-right{
    padding-left: 50px;
}

@media only screen and (max-width:991px) {
    footer .footer-right{
        padding-left: 0;
    }
}
footer .footer-right .right-items{
    padding: 10px 0;
}
footer .footer-right .item-content{
}
footer .footer-right .bottom-right{
}
footer .footer-right .footer-right-bottom{
    padding: 10px 0;
}
footer .footer-right h5{
    font-size: 2rem;
}
footer .footer-right .footer-right-bottom .bottom-content {
}

footer .footer-right .footer-right-bottom .bottom-content a{
    color: #1581BE;
    font-weight: 700;
}

footer .footer-right .footer-right-link{
    padding: 5px 0;
}
footer .footer-right img{
    width: 70%;
    height: auto;
    padding: 2px 0;
}

/* footer end */




/* our-cards */

.all-cards li{
    font-size: 1.6rem;
}
.all-cards .background-controller{
    padding: 30px 0;
}
.all-cards .background-controller .cards-title{
    text-align: center;
    color: #383C52;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 60px;
}
@media only screen and (max-width:992px) {
 .all-cards .background-controller .card-item{
    margin-bottom: 50px;
 }
    
}
.all-cards .background-controller .card-item .content-area{
    background-color: #F7F8F9;
    border-radius: 12px;
    min-height: 75%;
}
.all-cards .background-controller .card-item:nth-child(1) .card-item-title{
    background-color: tomato;
}
.all-cards .background-controller .card-item:nth-child(2) .card-item-title{
    background-color: #C6E8E9;
}
.all-cards .background-controller .card-item:nth-child(3) .card-item-title{
    background-color: #BEE9F7;
}
.all-cards .background-controller .row:nth-child(3){
    margin-top: 60px;
}
.all-cards .background-controller .row:nth-child(3) .card-item:nth-child(1) .card-item-title{
    background-color: #F9E8C4;
}
.all-cards .background-controller .row:nth-child(3) .card-item:nth-child(2) .card-item-title{
    background-color: #94CBCC;
}
.all-cards .background-controller .row:nth-child(3) .card-item:nth-child(3) .card-item-title{
    background-color: #98D1C7;
}
.all-cards .background-controller .card-item-title{
    padding: 20px;
    height: 77px;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 100%;
    border-radius: 12px 12px 0 0;
}
.all-cards .background-controller .card-item .card-title{}
.all-cards .background-controller .card-item .card-img{
    position: absolute;
    right: 30px;
    top: -30px;
    width: 75px;
}
.all-cards .background-controller .card-item .card-img img{
    max-width: 100%;
}
.all-cards .background-controller .card-item .content-area{
    padding: 40px 20px;
}
.all-cards .background-controller .card-item .content-area ul {}
.all-cards .background-controller .card-item .content-area ul li {
    display: flex;
    gap: 20px;
    align-items: center;
}
.all-cards .background-controller .card-item .content-area ul li .circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: tomato;
}
.all-cards .background-controller .card-item:nth-child(2) .content-area ul li .circle{
    background-color: #C6E8E9;
}
.all-cards .background-controller .card-item:nth-child(3) .content-area ul li .circle{
    background-color: #BEE9F7;
}
.all-cards .background-controller .card-item .content-area ul li .card-link{}

/* our-cards */

.mobile-section{}
.mobile-section .position-controller{}
.mobile-section .container{}

.mobile-section .container-one{}
.mobile-section .left-one{}
.mobile-section .left-one h1{
    font-size: 6rem;
    font-weight: 700;
}
.mobile-section .left-one p{
    font-size: 3.2rem;
    color: #9FA1AC;
}
.mobile-section .left-one .button-qr{
    display: flex;

}
.mobile-section .left-one .button-qr img {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
.mobile-section .right-one{

}
.mobile-section .large-img{
    width: 100%;
    height: auto;
}

.mobile-section .container-two{
    background-color: #EBEBED;
}
.mobile-section .container-two h2{
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
}
.mobile-section .container-two h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.mobile-section .container-two p{
    font-size: 1.6rem;
}
.mobile-section .container-two .content-two img{
}

.mobile-section .left-text{
    text-align: right;
}
.mobile-section .center-img{
    display: flex;
    justify-content: center;
}
.mobile-section .center-img img{
    width: 80%;
    height: auto;
}
.mobile-section .right-text{
    text-align: left;
}
@media only screen and (max-width:990px) {
    .mobile-section .left-text{
        text-align: center;
    }
    .mobile-section .center-img img{
        width: 50%;
        height: auto;
    }
    .mobile-section .right-text{
        text-align: center;
    }
}

.mobile-section .container-three{}
.mobile-section .left-three{}
.mobile-section .right-three{}
.mobile-section .right-three h2{
    font-size: 4.8rem;
    font-weight: 700;
    padding: 20px 0;
}
.mobile-section .container-three ul{
    list-style-type: disc;
}
.mobile-section .right-three li{
    font-size: 1.6rem;
    padding: 5px 0;
}
.mobile-section .container-four{
    margin-bottom: 100px;
}
.mobile-section .left-four{}
.mobile-section .left-four h2{
    font-size: 4.8rem;
    font-weight: 700;
    padding: 20px 0;
}
.mobile-section .left-four p{
    font-size: 1.6rem;
    padding: 5px 0;
}
.mobile-section .right-four{}

/* our-cards end */

/* campaigns */

.live-campaigns{}
.live-campaigns .position-controller{
    padding-bottom: 50px;
}
.live-campaigns .container{}
.live-campaigns .tab{
    display: flex;
}
.live-campaigns .live-button{

}
.live-campaigns .campaign-img{
    padding-bottom: 20px;
    text-align: center;
}

.live-campaigns img{
    width: 90%;
    height: auto;
    border-radius: 13px;
}

.live-campaigns .active-button{
    background-color: #383C52;
    color: white;
    border-radius: 13px;
}

.live-campaigns .disable-button{
    background-color: #FFFFFF;
    color: gray;
    border: none;
}

.live-campaigns .disable-container{
    display: none;
}

.live-campaigns h3{
    margin: 10px;
}

.live-campaigns .past-container img {
    opacity: .6;
}

.live-campaigns .past-container img:hover {
    opacity: 1;
}






/* campaigns end*/